@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1D8080;
}
.header {
  display: flex;
  flex: 1;
  width: 100vw;
  height: 100vh;
  background-color: #9EFFFF;
  box-shadow: 0px 3px 5px #ffffff;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  height: 400px;
}
.header h2 {
  display: flex;
  font-family: "Oxygen";
  position: absolute;
  top: 100px;
  left: 860px; 
  color: #7D8080;
  padding: 30px;
    padding-right: 200px;
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 80vw;
  height: 50px;
  margin-top: 30px;
}
nav ul li a {
  font-family: "Oxygen";
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: white;
  width: 100px;
  padding: 30px;
}
nav ul li a:hover {
  background-color: #f28500;
}

main {
  max-width: 1700px;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 15px;
}
.mainPage {
  order: 1;
  flex: 4;
}
.mainPage img {
  
}
.side {
  order: 3;
  flex: 1;
  height: 200px;
  background-color: #9EFFFF;
  margin: 20px;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 30vh;
}
p {
  font-family: "Oxygen";
  color: #7D8080;
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
}
img {
  width: 99%;
}
img.profile{
    margin-top: -20px;
    width: 105%;
}
figure {
  padding-top: 20px;
}
figure.profile{
    display: flex;
    position: absolute;
    top: 30px;
    left: 400px;
    border:5px solid white;
    overflow: hidden;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-top: 10px;
}
figcaption p{
  font-family: "Oxygen";
  font-size: 32px;
  color: #D2D6D6;
}
a {
  color: black;
}
.footer {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 100px;
  background-color: #9EFFFF;
  box-shadow: 0px -3px 5px #FAFFFF;
}
.footer a img {
  width: 75px;
  padding: 10px;
}
.footer a:hover{
  background-color: #D2D6D6;
}
